{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<div style="display:block;text-align:left"><img align="left" src="/static/encyclopedia/newpage.png" border="0"><h1>New Page</h1><br></div>
   
    <form action="{% url 'create_new_page' %}" method = "POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type = "text" name = "title" placeholder = "Enter a title">
        <br>
        <label>Markdown Content:</label>
        <br>
        <textarea  name="content"></textarea>
        <br>
        <input type="submit" value="New Page" class="btn btn-primary"> 
    </form>    


{% endblock %}